/*　配色リスト　置換編集用
html    背景        E9F0F7 
body    ボーダー    F2F6FA
main    背景        FCFDFE
        文字        333333
header, footer
        背景        2266AF
        文字        FCFDFE
        nav
        　文字      333333
        　選択      D6DCE5
        　非選択    B4C7E7
*/

html{
    font-size: 16px;
    font-family: sans-serif;
    background-color: #E9F0F7;
}

.right-align {
    text-align: right;
  }

p, li, td{
    line-height: 1.7;
}
img{
	vertical-align:middle;
}
figure {
    margin: 0 0; /* 上下の隙間のみ残す */
    padding: .2em;
}
a:link{
    font-weight:bold;
    color:#333333;
    text-decoration:none

}
a:visited{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}
a:hover{
    font-weight:bold;
    color:#333333;
    text-decoration:underline
}
a:active{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}

header {
    text-align: left;
    border-top: 10px solid #2266AF;;
    background-color: #2266AF; /*背景色*/ 
    color: #FCFDFE; 
}
.copyright {
    text-align: center;
    background-color: #2266AF; /*背景色*/ 
    color: #FCFDFE;   
}

header h1{
    margin: 0px 0px 0px 15px; 
}

body{
    border-left: 2px solid #b9c0c7;
    border-right: 2px solid #b9c0c7;
    max-width: 800px;
    margin: 0 auto 0 auto;
    background-color: #FCFDFE; /*背景色*/
    color: #333333; /*文字色*/
}

main{
    margin: 0px 10px 0px 10px;
    max-width: 800;
}

header h1 a:link{
    color: #FCFDFE;
    text-decoration:none
}
header h1 a:visited{
    color: #FCFDFE;
    text-decoration:none
}
header h1 a:hover{
    color: #FCFDFE;
    text-decoration:none
}
header h1 a:active{
    color: #FCFDFE;
    text-decoration:none
}

main h2{
    margin: 10px 0 0px 0;
    border-bottom: 2px solid #333333;
    padding:0 0 5px 0;
    color:#333333;
    font-size: 1.3rem;
}
main h3{
    margin: 10px 0 0px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    
    padding:5px 0 5px 0;
    color:#333333;
    font-size: 1.2rem;
}

/*スライダーの色変更*/
.accented {
    accent-color: #2266AF;
  }

/*表*/
table {
    background-color: #fff;
    font-size: 16px;
    /* border-collapse: collapse; */
  }

.work_number{
    width: 40px;
}
.work_title{
    width: 300px; 
}
.work_category{
    width: 90px;
}
.work_name{
    width: 100px;   
}
.work_author{
    width: 100px;   
}

th {
padding: 3px;
text-align: center;
background-color: #efefef;
color: #555;
}
td {
    padding: 3px;
    text-align: left;
    background-color: #f9f9f9;
    color: #555;
    border-bottom: 1px solid #FCFDFE;
    }

/* サイトのナビゲーション */
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #B4C7E7; /*非選択タブ背景色*/
}
nav li {
  display: table-cell;
  width: 20%;
}
nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #333333; /*文字色*/
  font-weight: bold;
  padding-top: 5px;
}
nav li.current a {
  background-color: #FCFDFE; /*現在タブ背景色*/
  color: #333333;
}
nav li:hover a {
  background-color: #D6DCE5; /*選択タブ背景色*/
}
nav a:link{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}
nav a:visited{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}
nav a:hover{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}
nav a:active{
    font-weight:bold;
    color:#333333;
    text-decoration:none
}

/* 上に戻るボタン */ 
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #2266AF;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d8';
    font-size: 25px;
    color: #eee9e9;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

html,body{
    touch-action: pan-Y;
}

@media screen and (max-width: 768px) {
    /* [iframe]を囲む要素 */
    .iframe-window{        
        width: 95% ;
        max-width: 480px ;			/* 最大の横幅 */
        height: 0 ;					/* 高さは0にする */
        padding-bottom: 130% ;	/* 横幅に対する縦幅の比率 */
        position: relative ;
        top: 0 ;
        left: 0 ;
    }
    /* [ifram] */
    .iframe-window iframe{       
        width: 100% ;		/* 親要素の余白いっぱい */
        height: 100% ;		/* 親要素の余白いっぱい */
        margin: 0 ;			/* 余白 */
        padding: 0 ;		/* スペース */
        position: absolute ;
        top: 0 ;
        left: 0 ;
    }
}

/*色周期ボタン用*/ 
.changeCycleHeight img {
    /* width: 13.5%; */
    max-width: 100%
}
.cycleHeight_button img {
    opacity: 1;
    /* width: 12%; */
    max-width: 100%
  }
.cycleHeight_button img:hover {
    opacity: 0.5;
    /* width: 12%; */
    max-width: 100%
  }

